body{

/*

Redoing background 4 F1 theme

*/




    font-family: Arial, Helvectica, sans-serif;
padding: 20px;
background:linear-gradient(135deg,#0b0b0b, #1a0000);
color:white;
}


button{
background:#e10600;
color:white;
border:none;
padding:10px 18px;
font-weight: bold;
cursor:pointer;
border-radius:6px;
margin-bottom:15px;



}


button:hover{background:#ff2a2a};


#searchBox
{
padding: 8px;
width:250px;
margin-bottom: 15px;
border-radius:4px;
border:none;

}


table
{
border-collapse:collapse;
width: 700px;
background:#111;
}

th, td{border:1px solid #333;

padding:  8px;
text-align:left;}

th{background-color:#e10600; color:white;}


/*

Testing for team colors

*/


.teamCell
{
    
font-weight: bold;
padding:6px;
color: white;
}

#teamLegend{
display:flex;
flex-wrap: wrap;
gap:10px;
margin-bottom:15px;
}

.legendItem{
display:flex;
align-items:center;
gap:6px;
font-size:14px;}

.legendColor{
width: 20px;
height : 20px;
border : 1px solid white;

}



#driverPanel
{
margin-top:20px;
padding:15px;
border: 1px solid #333;
width: 700px;
background:#111

}

#driverInfo img{
width: 120px;
display:block;
margin-bottom: 10px;

}

body.dark
{
background:#121212;
}

body.dark table{
background:000;}

body.dark #driverPanel{
background:#000;


}